                    <!-- col -->
                    <div class="col-2">
                        <div class="inner-col">
                            <div class="mw-1000px m-auto">
                                <div class="col-item">
                                    <div class="title"><%= title %></div>
                                </div>
                            </div>
                        </div>
                    </div>
