/* _settings.css */

$white: rgb(255, 255, 255);
$gray: rgb(127, 127, 127);
$black: rgb(0, 0, 0);

//blue
$blue-main: #33f;
$blue-dd: rgb(27, 46, 76);
$blue-d: rgb(40, 56, 108);
$blue: rgb(59, 127, 224);
$blue-l: rgb(70, 139, 236);
$blue-ll: rgb(184, 213, 255);
$water-blue: rgb(29,168,223);
